/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14-10-2024, 12:23:38 p. m.
    Author     : matia
*/

body {
    background-color: #fff;
}

.contenedor-columnas {
    display: flex;
    flex-shrink: 0; /* Evita que las columnas se encojan cuando hay poco espacio */
    flex-wrap: wrap; /* Las columnas pasan a la siguiente línea si no caben */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 20px;
    padding: 20px;  /*espacio al contenedor */
}

.columna{
    flex: 1 0 500px;
    margin-top: 80px;
    padding: 20px;
    background-color: #e0f7fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(30, 126, 188, 0.3); 
}


.form-group {
    font-size: clamp(24px, 25px + 5vw, 30px) !important; /* Tamaño grande en móviles, reducido en pantallas grandes */
    margin-bottom: 24px;
    color: #0d47a1;
}

.Titulos {
    font-size: clamp(30px, 30px + 6vw, 40px) !important; /* Tamaño mayor en móviles */
    margin-bottom: 15px;
    color: #0d47a1;
}

.Parrafo {
    font-size: clamp(20px, 25px + 5vw, 30px) !important; /* Mayor tamaño en móviles, más pequeño en desktop */
    margin-bottom: 40px;
    color: #0d47a1;
}

.Linea {
    font-size: clamp(18px, 25px + 4vw, 30px) !important; /* Grande en móviles, moderado en pantallas grandes */
    text-align: left;
    color: #0d47a1;
    padding-left: 10px;
}
