/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 14-10-2024, 12:23:38 p. m.
    Author     : matia
*/

body {
    background-color: #fff;
}

.contenedor-columnas {
    display: flex;
    flex-shrink: 0; /* Evita que las columnas se encojan cuando hay poco espacio */
    flex-wrap: wrap; /* Las columnas pasan a la siguiente línea si no caben */
    gap: 20px; /* Espacio entre las columnas */
    margin-top: 20px;
    padding: 20px;  /*espacio al contenedor */
}

.columna {
    flex: 1 0 500px;
    margin-top: 80px;
    padding: 0; /* Quitar padding del contenedor columna */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(30, 126, 188, 0.3); 
    overflow: hidden; /* Asegura que los bordes redondeados también afecten al encabezado */
}

.panel-titulos {
    background-color: #0D6EFD !important; /* Fondo azul */
    padding: 10px 20px; /* Espaciado interno */
    margin: 0; /* Eliminar márgenes */
    text-align: center; /* Centrar el texto */
    color: #fff; /* Texto blanco */
    min-height: 110px !important;
}

.panel-cuerpo {
    background-color: #fff !important; /* Fondo blanco */
    padding: 20px; /* Espaciado interno */
}

.form-group {
    font-size: 20px !important; 
    margin-bottom: 24px;
    
}

.Titulos {
    font-size: 30px !important;
    margin-bottom: 15px;
    color: #fff;
}

.Parrafo {
    font-size: 20px !important;
    margin-bottom: 40px;
    
}

.Linea {
    font-size: 20px !important;
    text-align: left;
    
    
}



