.navbar-brand{
    margin-left: 25px;
}

.nav-item{
    margin-right: 15px;
}
.nav-link{
    font-size: 20px !important;
    font-weight: 500;
    color: rgb(0, 0, 0) !important;
}
.navbar{
    background-color: #ffffffe3 !important;
    position: sticky !important;
    top: 0 !important;
    width: 100%;
    z-index: 1000 !important; /*Para poder estar sobre todo*/
}